[Unit]
Description=Vechain Monitor
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=30
ExecStartPre=-/usr/bin/docker pull fundrequestio/vechain-node-monitor:master
ExecStart=/bin/bash /opt/docker/vechain-monitor/run.sh
ExecStop=-/usr/bin/docker stop vechain-monitor
[Install]
WantedBy=multi-user.target